h1 {
  text-align: center;
  margin-top: 20px;
}
.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
  margin-left: 40px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: 30px;
  padding: 20px;
}



h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}
