<app-header></app-header>
<ng-container>
  <div class="container">
    <h1>Shopping Bag</h1>
    <div class="card-table">
      <div class="card-product">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Item No.</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Delete</th>
            </tr>
          </thead>

          <tbody *ngFor="let product of products, let i = index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{product.name}}</td>
              <td><img src="{{product.imageUrl}}" alt="" /></td>
              <td>{{product.price}}</td>
              <td></td>
              <td>{{product.total}}</td>
              <td></td>
            </tr>

            <tr>
            </tr>
          </tbody>
        </table>
        <td colspan="4"></td>
        <td><button class="btn btn-danger">Empty Cart</button></td>
        <td>
          <button routerLink="/products" class="btn btn-success">
            Shop More
          </button>
        </td>
        <td><button class="btn btn-warning">Check Out</button></td>
        <td><strong>Grand Total:</strong></td>
      </div>
    </div>
  </div>
</ng-container>


<!-- empty cart -->
