.container {
  margin-top: 15px;
}

h1 {
  text-align: center;
  margin: 15px 0;
}

img {
  width: 20%;
}

.btn-danger {
  background-color: black;
  color: white;
}

.btn-danger:hover {
  background-color: red;
}

.btn-success {
  background-color: black;
  color: white;
}

.btn-success:hover {
  background-color: green;
}

.btn-warning {
  background-color: black;
  color: white;
}

.btn-warning:hover {
  background-color: orange;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h4 {
  font-weight: 400;
}

.buttons button{
  margin: 0 10px;
  text-align: center;
}

.buttons p {
  display: inline-block;
  float: right;
  color: red;
}

