<app-header></app-header>

<div
  id="myCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="2500"
>
  <!-- Slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/banner1.png" class="w-100" alt="shopping" />
      <div class="carousel-caption">
        <h1>Shop With Us</h1>
        <p>Fashion that works for everyone, everywhere.</p>
        <a
          routerLink="/products"
          class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block"
          >SHOP NOW</a
        >
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner2.png" class="w-100" alt="shopping" />
      <div class="carousel-caption">
        <h1>Shop With Us</h1>
        <p>Shop the Latest Trends.</p>
        <a
          routerLink="/products"
          class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block"
          >SHOP NOW</a
        >
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner3.png" class="w-100" alt="shopping" />
      <div class="carousel-caption">
        <h1>Shop With Us</h1>
        <p>Unleash Your Style.</p>
        <a
          routerLink="/products"
          class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block"
          >SHOP NOW</a
        >
      </div>
    </div>

    <div class="carousel-item">
      <img src="assets/images/banner4.png" class="w-100" alt="shopping" />
      <div class="carousel-caption">
        <h1>Shop With Us</h1>
        <p>Fashion Forward. Shop Online.</p>
        <a
          routerLink="/products"
          class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block"
          >SHOP NOW</a
        >
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner5.png" class="w-100" alt="shopping" />
      <div class="carousel-caption">
        <h1>Shop With Us</h1>
        <p>Unlock Amazing Discounts on Trendy Styles.</p>
        <a
          routerLink="/products"
          class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block"
          >SHOP NOW</a
        >
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner6.png" class="w-100" alt="shopping" />
      <div class="carousel-caption">
        <h1>Shop With Us</h1>
        <p>Elevate Your Fashion Game.</p>
        <a
          routerLink="/products"
          class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block"
          >SHOP NOW</a
        >
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner7.png" class="w-100" alt="shopping" />
      <div class="carousel-caption">
        <h1>Shop With Us</h1>
        <p>Shop with Confidence, Look Fabulous.</p>
        <a
          routerLink="/products"
          class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block"
          >SHOP NOW</a
        >
      </div>
    </div>
  </div>
</div>
