<header>
  <div class="container">
    <a routerLink="/" class="logo"> E-commerce App </a>
    <nav>
      <ul>
        <li class="menu-container">
          <a routerLink="/dashboard"> Home </a>
          <div class="menu">
            <a routerLink="/profile"> Profile </a>
            <a routerLink="/orders"> Orders </a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
          Cart <span></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
