.brand-name {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.brand-name span {
  color: gray;
}

.nav-link {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

nav {
  background-color: black;
  padding-left: 2%;
  padding-right: 2%;
}

.bx {
font-size: 2.2rem;
margin: 0;
padding: 0;

}

.navbar-nav a {
  color: white;
}

i {
  cursor: pointer;
}

p {
  display: inline-block;
}

.bx {
  color: white;
  margin-left: 25px;
}

.cart p {
  color: white;
}

/* Badge styling */
.badge {
  background-color: #C70D3A;
  color: white;
  font-size: 15px;
  padding: 5px 6px;
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
}
