.brand-name {
  font-size: 2rem;
  font-weight: 700;
}

.brand-name span {
  color: orangered;
}

.nav-link {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

nav {
  background-color: #F6F1F1;
  padding-left: 2%;
  padding-right: 2%;
}

.bx {
font-size: 2.2rem !important;
}

i {
  cursor: pointer;

}

/* Badge styling */
.badge {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 5px 6px;
  border-radius: 50%;
  margin-left: 5px;
}
